*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 119, 218);
    position: relative;
}


.inner{
    text-align: center;
    height: 90%;
    width: 30%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    overflow: scroll;
}

::-webkit-scrollbar{
    display: none;
}

